<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Багира (Запрос успешно отправлен)</title>
        <meta name="theme-color" content="#3dae2b">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <link rel="stylesheet" href="local/css/main.css">
    </head>
    <body>
        <div class="container">
            <div class="main-block">
                <div class="main-block__logo">
                    <img src="local/img/logo.svg" class="main-block__logo-img" alt="logo" width="470" height="120">
                </div>
                <div class="main-block__inner">
                    <div class="title-style">Восстановление пароля</div>
                    <div class="main-block__desc">
                        Мы отправили SMS c паролем<br>
                        на номер: <b>8 (800) 100-10-10</b>
                    </div>
                    <a href="javascript:;" class="btn btn_main">Вернуться к авторизации</a>
                    <div class="back-link-block">
                        <a href="javascript:;" class="back-link">
                            <svg class="back-link__icon">
                                <use xlink:href="local/img/sprites/sprite.svg#back"></use>
                            </svg>
                            Обратно
                        </a>
                    </div>
                </div>
            </div>
            <div class="bottom-block">
                @@include("../blocks/modules/support-block/support-block.html")
            </div>
        </div>
        <script src="local/js/main.js"></script>
    </body>
</html>