.back-link-block {
    display: flex;
    justify-content: center;
    margin: 23px 0 0;
}

.back-link {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: $color-black;
    fill: $color-black;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 7px;

    &:hover {
        fill: $color-main;
    }
    &__icon {
        width: 7px;
        height: 11px;
    }
}