.support-block {
    text-align: center;

    &__title {
        font-weight: 600;
        font-size: 13px;
        line-height: 1.15;
        letter-spacing: .06em;
        text-transform: uppercase;
        color: $color-text-opacity;
    }
    &__phone {
        font-weight: 600;
        font-size: 22px;
        color: $color-white;
        text-decoration: none;
    }

    @media (max-width: 470px)
    {
        &__title {
            font-size: 12px;
            line-height: 1.25;
            color: $color-black;
        }
        &__phone {
            font-weight: 700;
            font-size: 20px;
            color: $color-main;
        }
    }
}