.password-toggle {
    fill: $color-black;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    right: 19px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        fill: $color-main;
    }
    &__icon {
        width: 23px;
        height: 18px;

        &_hide {
            display: none;
        }
    }
    &_show &__icon_show {
        display: none;
    }
    &_show &__icon_hide {
        display: block;
    }
}